@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/*Scanlines effect*/
.scanlines {
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.2));
  background-size: 100% 4px;
  position: absolute;
  inset: 0;
  z-index: 50;
  pointer-events: none;
}

/* Protocolo de Purga (Glitch y Desintegración) */
@keyframes cyber-purge {
  0% {
    filter: brightness(1) blur(0px);
    transform: scale(1) translateX(0);
    opacity: 1;
  }

  20% {
    filter: brightness(2) blur(2px);
    transform: scale(1.02) translateX(-5px) skewX(5deg);
    opacity: 0.9;
  }

  40% {
    filter: brightness(3) blur(4px);
    transform: scale(0.95) translateX(5px) skewX(-5deg);
    opacity: 0.7;
  }

  100% {
    filter: brightness(0) blur(10px);
    transform: scale(0.8) translateY(-20px);
    opacity: 0;
  }
}

.animate-purge {
  animation: cyber-purge 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  pointer-events: none;
  /* Evita clics fantasma mientras desaparece */
}